{% extends '::newsletterbase.html.twig' %}

{% set active_sub_page = "templates" %}

{% block newsletterbody -%}
    <h2>templates</h2>

    <table class="record_properties  table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Columns</th>
                <td>{{ entity.columns }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ entity.body }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('newsletter_templates') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('newsletter_templates_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
