{% extends '::base.html.twig' %}

{% block body -%}
    <h1>schedulestations list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Station</th>
                <th>Arivaltime</th>
                <th>Departuretime</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('timetable_schedulestations_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.stationId }} </td>
                <td>{{ entity.arivalTime|date('H:i') }}</td>
                <td>{{ entity.departureTime|date('H:i') }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('timetable_schedulestations_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('timetable_schedulestations_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('timetable_schedulestations_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
